<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<body>
<div layout:fragment="content">
    <div class="wrapper" id="app" v-cloak>
        <div class="body_container">
            <div class="custom_container table">
                <!-- 面包屑导航条 -->
                <div class="crumbs">
                    <el-breadcrumb separator-class="el-icon-arrow-right">
                        <el-breadcrumb-item><a onclick="EcqEE.Common.router('/home');"><i
                                class="el-icon-menu"></i> 首页</a></el-breadcrumb-item>
                        <el-breadcrumb-item>字典类型管理</el-breadcrumb-item>
                    </el-breadcrumb>
                </div>
                <hr>
                <!-- 查询表单 -->
                <el-form :model="searchForm" ref="queryForm" :inline="true" label-width="68px">
                    <el-form-item label="字典名称" prop="name">
                        <el-input v-model="searchForm.name" placeholder="请输入字典名称" clearable size="small"
                                  @keyup.enter.native="search"></el-input>
                    </el-form-item>
                    <el-form-item label="字典类型" prop="key">
                        <el-input v-model="searchForm.key" placeholder="请输入字典类型" clearable size="small"
                                  @keyup.enter.native="search"></el-input>
                    </el-form-item>
                    <el-form-item label="状态" prop="status">
                        <el-select v-model="searchForm.status" placeholder="请选择状态" clearable size="small">
                            <el-option v-for="dict in commonStatus" :key="dict.value" :label="dict.label" :value="dict.value"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" icon="el-icon-search" size="mini" @click="search">搜索</el-button>
                        <el-button icon="el-icon-refresh" type="warning" size="mini" @click="resetQuery">重置</el-button>
                    </el-form-item>
                </el-form>
                <!-- 按钮 -->
                <el-row :gutter="10" class="mb8">
                    <el-col :span="1.5">
                        <el-button type="primary" icon="el-icon-plus" size="mini" @click="handleAdd">新增</el-button>
                    </el-col>
                    <el-col :span="1.5">
                        <el-button type="danger" icon="el-icon-delete" size="mini"
                                   :disabled="multipleSelection.length==0" @click="handleDeleteMany">删除
                        </el-button>
                    </el-col>
                </el-row>
                <!-- 分页 -->
                <div style="width:100%">
                    <div style="width:50%;float:right;" class="pagination">
                        <el-pagination
                                @size-change="changePageSize"
                                @current-change="changePageNo"
                                :current-page.sync="searchForm.pageNo"
                                :page-sizes="[10, 20, 30, 50]"
                                :page-size="searchForm.pageSize"
                                layout="sizes, prev, pager, next, total, jumper"
                                :total="searchForm.totalNum">
                        </el-pagination>
                    </div>
                </div>
                <!-- 列表表单 -->
                <el-table :data="tableData" v-loading="loading" @selection-change="selectCheckbox">
                    <el-table-column type="selection" width="50"></el-table-column>
                    <el-table-column label="NO." width="50">
                        <template slot-scope="scope">
                            {{scope.$index + searchForm.pageSize*(searchForm.pageNo-1) + 1}}
                        </template>
                    </el-table-column>
                    <el-table-column prop="name" label="字典名称" min-width="10%">
                    </el-table-column>
                    <el-table-column prop="key" label="字典键值" min-width="10%">
                    </el-table-column>
                    <el-table-column prop="status" label="状态" min-width="10%">
                        <template slot-scope="scope">
                            <span v-html="showDictLabel(scope.row.status, commonStatus)"></span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="remark" label="备注" min-width="10%">
                    </el-table-column>
                    <el-table-column label="操作" class-name="small-padding fixed-width" width="240px">
                        <template slot-scope="scope">
                            <el-button size="mini" type="primary" icon="el-icon-edit" @click="handleUpdate(scope.row)">
                                修改
                            </el-button>
                            <el-button size="mini" v-if="scope.row.status=='inactive'" type="primary" icon="el-icon-edit" @click="handleActive(scope.row)">
                                启用
                            </el-button>
                            <el-button size="mini" v-if="scope.row.status=='active'" type="primary" icon="el-icon-edit" @click="handleInactive(scope.row)">
                                停用
                            </el-button>
                            <el-button size="mini" type="danger" icon="el-icon-delete" @click="handleDelete(scope.row)">
                                删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <!-- 分页 -->
                <div style="width:100%">
                    <div style="width:50%;float:right;" class="pagination">
                        <el-pagination
                                @size-change="changePageSize"
                                @current-change="changePageNo"
                                :current-page.sync="searchForm.pageNo"
                                :page-sizes="[10, 20, 30, 50]"
                                :page-size="searchForm.pageSize"
                                layout="sizes, prev, pager, next, total, jumper"
                                :total="searchForm.totalNum">
                        </el-pagination>
                    </div>
                </div>
                <!-- 添加或修改对话框 -->
                <el-dialog :title="title" :visible.sync="open" width="1000px" append-to-body :close-on-click-modal="false">
                    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
                        <el-form-item label="字典名称" prop="name" :error="errorsMap.name">
                            <el-input v-model="form.name" placeholder="请输入字典名称" style="width: 220px;" :clearable="true"></el-input>
                        </el-form-item>
                        <el-form-item label="字典键值" prop="key" :error="errorsMap.key">
                            <el-input v-model="form.key" placeholder="请输入字典键值" style="width: 220px;" :disabled="form.id" :clearable="true"></el-input>
                        </el-form-item>
                        <el-form-item label="状态" prop="status" :error="errorsMap.status">
                            <el-select v-model="form.status" placeholder="请选择状态" clearable size="small" :clearable="true">
                                <el-option v-for="dict in commonStatus" :key="dict.value" :label="dict.label" :value="dict.value"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="备注" prop="remark" :error="errorsMap.remark">
                            <el-input v-model="form.remark" type="textarea" placeholder="请输入备注" rows="4" style="width: 420px;"></el-input>
                        </el-form-item>
                        <el-form-item label="配置项: " :error="errorsMap.data">
                            <el-button @click="addDictDataValue" type="success">新增</el-button>
                        </el-form-item>
                        <el-form-item label=" ">
                            <el-table :data="form.data" stripe style="width: 800px" ref="multipleTable">
                                <el-table-column type="index" label="NO." width="50px"></el-table-column>
                                <el-table-column prop="value" label="配置值" min-width="15%">
                                </el-table-column>
                                <el-table-column prop="label" label="显示值" min-width="15%">
                                </el-table-column>
                                <el-table-column prop="order" label="顺序" min-width="15%">
                                </el-table-column>
                                <el-table-column prop="cssClass" label="样式" min-width="15%">
                                </el-table-column>
                                <el-table-column prop="status" label="状态" min-width="15%">
                                    <template slot-scope="scope">
                                        <span v-html="showDictLabel(scope.row.status, commonStatus)"></span>
                                    </template>
                                </el-table-column>
                                <el-table-column label="操作" width="200px">
                                    <template slot-scope="scope">
                                        <el-button size="mini" type="primary" icon="el-icon-edit" @click="handleDictDataUpdate(scope.$index, scope.row)">
                                            修改
                                        </el-button>
                                        <el-button @click="handleDictDataDelete(scope.$index, scope.row)" size="mini" type="danger" icon="el-icon-delete">删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="cancel">取 消</el-button>
                        <el-button type="primary" @click="submitForm">确 定</el-button>
                    </div>
                </el-dialog>
                <el-dialog title="新增系统设置值" :visible.sync="dictDataFormVisible" width="800px" :close-on-click-modal="false">
                    <el-form :model="dictDataValue" :rules="rules2" :inline="true" ref="dictDataForm">
                        <el-form-item label="唯一键: " prop="key">
                            <el-input v-model="dictDataValue.key" :disabled="true" style="width: 215px;"></el-input>
                        </el-form-item>
                        <el-form-item label="配置值: " prop="value" :error="errorsMap.value">
                            <el-input v-model="dictDataValue.value" :clearable="true"></el-input>
                        </el-form-item>
                        <el-form-item label="显示值: " prop="label" :error="errorsMap.label">
                            <el-input v-model="dictDataValue.label" :clearable="true"></el-input>
                        </el-form-item>
                        <el-form-item label="顺序: " prop="order" :error="errorsMap.order">
                            <el-input v-model="dictDataValue.order" :clearable="true"></el-input>
                        </el-form-item>
                        <el-form-item label="样式: " prop="cssClass" :error="errorsMap.cssClass">
                            <el-input v-model="dictDataValue.cssClass" :clearable="true"></el-input>
                        </el-form-item>
                        <el-form-item label="状态: ">
                            <el-select v-model="dictDataValue.status" placeholder="请选择状态" clearable size="small" style="width: 215px;">
                                <el-option v-for="dict in commonStatus" :key="dict.value" :label="dict.label" :value="dict.value"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dictDataFormVisible = false">取 消</el-button>
                        <el-button type="primary" @click="confirmDictData()">确 定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
    <script th:src="@{/js/system/dict.js}" type="text/babel"></script>
    <script th:inline="javascript" type="text/babel">
        let vm = new Vue({
            el: '#app',
            data: function () {
                let self = this;
                return {
                    multipleSelection: [],
                    checkAll: false,
                    // 字典类型表格数据
                    tableData: [],
                    commonStatus: [[${@dict.getDictData('common_status')}]],
                    // 遮罩层
                    loading: true,
                    // 弹出层标题
                    title: "",
                    // 是否显示弹出层
                    open: false,
                    searchForm: [[${session.dictSearchForm}]],
                    // 表单参数
                    form: {},
                    errorsMap: {},
                    // 表单校验
                    rules: {
                        id: [
                            {required: true, message: "字典主键不能为空", trigger: "blur"}
                        ],
                        name: [
                            {required: true, message: "字典名称不能为空", trigger: "blur"}
                        ],
                        key: [
                            {required: true, message: "字典类型不能为空", trigger: "blur"}
                        ],
                        status: [
                            {required: true, message: "状态不能为空", trigger: "blur"}
                        ]
                    },
                    dictDataFormVisible: false,
                    dictDataValue: {
                        key: "",
                        value: "",
                        status: "",
                        order: "1",
                        label: ""
                    },
                    rules2: {
                        key: [
                            {required: true, message: "字典键值不能为空", trigger: "blur"}
                        ],
                        value: [
                            {required: true, message: "字典Value不能为空", trigger: "blur"}
                        ],
                        order: [
                            {required: true, message: "字典排序不能为空", trigger: "blur"}
                        ],
                        label: [
                            {required: true, message: "字典显示值不能为空", trigger: "blur"}
                        ],
                        status: [
                            {required: true, message: "状态不能为空", trigger: "blur"}
                        ],
                    }
                }
            },
            created: function () {
                this.loadData();
            },
            methods: {
                addDictDataValue: function() {
                    if(!this.form.key){
                        this.alert("请先输入字典键值，再增加配置项");
                    }else{
                        this.dictDataFormVisible = true;
                        this.dictDataValue = {
                            key: this.form.key,
                            value: "",
                            label: "",
                            order: "1",
                            status: "active"
                        };
                    }
                },
                confirmDictData: function() {
                    this.$refs['dictDataForm'].validate(valid => {
                        if (valid) {
                            if(typeof this.dictDataValue.index == 'number'){
                                Vue.set(this.form.data, this.dictDataValue.index, this.dictDataValue);
                            }else{
                                this.form.data.push(this.dictDataValue);
                            }
                            this.dictDataFormVisible = false;
                        }
                    });
                },
                handleDictDataDelete: function(index, row) {
                    let length = this.form.data.length;
                    let temp = [];
                    for (let i = 0; i < length; i++) {
                        if (i != index) {
                            temp.push(this.form.data[i]);
                        }
                    }
                    this.form.data = temp;
                },
                handleDictDataUpdate: function(index, row){
                    this.dictDataValue = row;

                    this.dictDataValue.index = index;
                    this.dictDataFormVisible = true;
                },
                /** 查询岗位列表 */
                loadData() {
                    this.loading = true;
                    this.queryData(this.searchForm).then(response => {
                        let res = response.data;
                        if (res.restCode == 200) {
                            this.tableData = res.data.records;
                            this.searchForm.totalNum = res.data.totalCount;
                            this.loading = false;
                        } else {
                            this.msgError("加载数据失败");
                        }
                    });
                },
                search: function () {
                    this.searchForm.pageNo = 1;
                    this.loadData();
                },
                /** 重置按钮操作 */
                resetQuery() {
                    this.resetForm("queryForm");
                    this.search();
                },
                changePageSize: function (val) {
                    this.searchForm.pageSize = val;
                    this.search();
                },
                changePageNo: function (val) {
                    this.searchForm.pageNo = val;
                    this.loadData();
                },
                selectCheckbox: function (val) {
                    this.multipleSelection = val;
                },
                // 取消按钮
                cancel() {
                    this.open = false;
                    this.reset();
                },
                // 表单重置
                reset() {
                    this.form = {
                        id: undefined,
                        name: undefined,
                        key: undefined,
                        status: "active",
                        remark: undefined,
                        data: []
                    };
                    this.errorsMap = {};
                    this.open = false;
                },
                /** 新增按钮操作 */
                handleAdd() {
                    this.reset();
                    this.open = true;
                    this.title = "添加字典类型";
                },
                /** 修改按钮操作 */
                handleUpdate(row) {
                    this.reset();
                    const ids = row.id || this.ids
                    this.getDict(ids).then(response => {
                        let res = response.data;
                        if (res.restCode == 200) {
                            this.form = response.data.data;
                            this.open = true;
                            this.title = "修改字典类型";
                        } else {
                            this.msgError("获取数据详情");
                        }
                    });
                },
                handleActive(row) {
                    this.confirm('是否启用词典(' + row.name + ')？').then(()=>{
                        this.activeDict(row.id).then(res=>{
                            let r = res.data;
                            if (r.restCode == '200') {
                                this.loadData();
                                this.msgSuccess("词典启用成功");
                            } else {
                                this.msgError("词典启用失败");
                            }
                        })
                    });
                },
                handleInactive(row) {
                    this.confirm('是否停用词典(' + row.name + ')？').then(()=>{
                        this.inactiveDict(row.id).then(res=>{
                            let r = res.data;
                            if (r.restCode == '200') {
                                this.loadData();
                                this.msgSuccess("词典停用成功");
                            } else {
                                this.msgError("词典停用失败");
                            }
                        })
                    });
                },
                handleSelection: function () {
                    let length = this.multipleSelection.length;
                    let str = '';
                    for (let i = 0; i < length; i++) {
                        str += this.multipleSelection[i].id + ',';
                    }
                    if (str.indexOf(",") != -1) {
                        str = str.substr(0, str.length - 1);
                    }
                    return str;
                },
                /** Dialog提交按钮 */
                submitForm: function () {
                    this.errorsMap = {};
                    this.$refs["form"].validate(valid => {
                        if (valid) {
                            if (this.form.id != undefined) {
                                this.updateDict(this.form).then(response => {
                                    let res = response.data;
                                    if (res.restCode == 200) {
                                        this.msgSuccess("修改成功");
                                        this.open = false;
                                        this.loadData();
                                        this.errorsMap = {};
                                    } else {
                                        this.errorsMap = res.errorsMap;
                                        this.msgError("修改失败");
                                    }
                                });
                            } else {
                                this.addDict(this.form).then(response => {
                                    let res = response.data;
                                    if (res.restCode == 200) {
                                        this.msgSuccess("新增成功");
                                        this.open = false;
                                        this.loadData();
                                    } else {
                                        this.errorsMap = res.errorsMap;
                                        this.msgError("创建失败");
                                    }
                                });
                            }
                        }
                    });
                },
                /** 一次删除多条记录  */
                handleDeleteMany: function () {
                    if (this.multipleSelection.length == 0) {
                        this.alert('请选择要操作的数据！');
                    } else {
                        this.handleDelete();
                    }
                },
                /** 删除按钮操作 */
                handleDelete(row) {
                    const ids = (row && row.id) || this.handleSelection();
                    let self = this;
                    this.confirm('是否确认删除选择的数据项?').then(res => {
                        this.delDict(ids).then(() => {
                            this.loadData();
                            this.msgSuccess("删除成功");
                        });
                    });
                }
            }
        });
    </script>
</div>
</body>
</html>
